HUB_WS_URL=ws://192.168.1.220:8787/
DEVICE_ID=pi5-ts
DEVICE_NAME=Opanhome TS Pi Client
PI_CLIENT_CONTROL_BIND_HOST=127.0.0.1
PI_CLIENT_CONTROL_PORT=8790
AUDIO_DEVICE_CARD=P10S
AUDIO_INPUT_DEVICE=plughw:CARD=P10S,DEV=0
AUDIO_OUTPUT_DEVICE=default:CARD=P10S
ALSA_DUCK_CARD=2
ALSA_DUCK_CONTROL=PCM
ALSA_DUCK_PERCENT=8
MIC_GAIN=1.0
VOICE_START_THRESHOLD=0.008
VOICE_CONTINUE_THRESHOLD=0.004
VOICE_AMBIENT_START_RATIO=1.5
VOICE_INTERRUPT_RATIO=1.0
VOICE_START_CHUNKS=1
VOICE_SPEECH_RELEASE_MS=180
VOICE_INITIAL_SILENCE_MS=1800
VOICE_END_SILENCE_MS=420
VOICE_MAX_TURN_MS=20000
VOICE_PREROLL_CHUNKS=24
VOICE_PREROLL_LEAD_CHUNKS=4
