HUB_WS_URL=ws://hub.example:8787/
DEVICE_ID=pi-client-01
DEVICE_NAME=Pi TS Realtime Client
PI_CLIENT_CONTROL_BIND_HOST=
PI_CLIENT_CONTROL_PORT=
AUDIO_DEVICE_CARD=
AUDIO_INPUT_DEVICE=
AUDIO_OUTPUT_DEVICE=
ALSA_DUCK_CARD=
ALSA_DUCK_CONTROL=
ALSA_DUCK_PERCENT=
MIC_GAIN=1.0
VOICE_START_THRESHOLD=0.008
VOICE_CONTINUE_THRESHOLD=0.004
VOICE_AMBIENT_START_RATIO=1.5
VOICE_INTERRUPT_RATIO=1.0
VOICE_START_CHUNKS=1
VOICE_SPEECH_RELEASE_MS=180
VOICE_INITIAL_SILENCE_MS=1800
VOICE_END_SILENCE_MS=420
VOICE_MAX_TURN_MS=20000
VOICE_PREROLL_CHUNKS=24
VOICE_PREROLL_LEAD_CHUNKS=4
